@page "/Demo02"

<h3>Demo02</h3>

<button @onclick="Increment">+</button>

<p>Réponse de l'enfant : @Reponse</p>

<hr />

<Enfant ValeurDuParent="Valeur" Chaine="Coucou" ReponseEvent="TraitementReponseEnfant"></Enfant>
