@page "/demo03"

<h3>Demo03</h3>

<h4>Foreach</h4>
<div style="max-height: 200px; border: 1px solid black; overflow-y: scroll">
    <ul>
        @foreach(Guid g in Liste)
        {
            <li>@g</li>
        }
    </ul>
</div>

<br />

<h4>Virtualize</h4>
<div style="max-height: 200px; border: 1px solid black; overflow-y: scroll">
    <ul>
        <Virtualize Items="Liste" Context="g">
            <li>@g</li>
        </Virtualize>
    </ul>
</div>