<h4>Bonjour @Prenom</h4>

<p>Question @NoQuestion : @Question</p>

<button class="btn btn-success" @onclick="@(() => EnvoieReponse("Oui"))">Oui</button>
<button class="btn btn-danger" @onclick="@(() => EnvoieReponse("Non"))">Non</button>
