<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">DemoWASM</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		@*
		<div class="nav-item px-3">
		<NavLink class="nav-link" href="counter">
		<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
		</NavLink>
		</div>
		<div class="nav-item px-3">
		<NavLink class="nav-link" href="weather">
		<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
		</NavLink>
		</div>
		*@
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="demo01">
				<span class="bi bi-1-square" aria-hidden="true"></span> Bindings
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="demo02">
				<span class="bi bi-2-square" aria-hidden="true"></span> Multicomposant
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="demo03">
				<span class="bi bi-3-square" aria-hidden="true"></span> Virtualization
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="demo04">
				<span class="bi bi-4-square" aria-hidden="true"></span> Forms
			</NavLink>
		</div>

		<hr />
		
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="exo01">
				<span class="bi bi-1-circle" aria-hidden="true"></span> Exo 1: Quizz
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="exo02">
				<span class="bi bi-2-circle" aria-hidden="true"></span> Exo 2: Formulaire
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
